# Python
__pycache__/
*.pyc

# environments
.env/
venv/
conda-env/
*.egg-info/
.snakemake/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# data (adjust carefully)
data/tmp/
data/results

# results
results/
*.tsv

# logs
*.log