# Python
__pycache__/
*.pyc

# Environments
.env/
venv/
conda-env/
*.egg-info/
.snakemake/

# Models
.codex
.claude
CLAUDE.md

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

Data/*
graphify-out
.graphifyignore

# Files
*.tsv
*.csv
*.txt
*.log