# Python
__pycache__/
*.pyc

# environments
.env/
venv/
conda-env/
*.egg-info/
.snakemake/

# Codex
.codex

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# data (adjust carefully)
#Data/Tmp/
Data/*

# Files
*.tsv
*.csv

# logs
*.log